<div class="row pb-5">
  <div class="col-8 mx-auto">
    <h4><strong>連絡先一覧</strong></h4>
  <div class ="col-md-9 text-right">
      <%= link_to "+", new_contact_path, class: "btn btn-outline-dark rounded-circle" %>
  </div>
    <table class="table shadow-lg mt-4">
        <thead class="table-active">
          <tr>
            <th>連絡先ID</th>
            <th>団体名</th>
            <th>電話番号</th>
            <th>ステータス</th>
          </tr>
        </thead>
      <% @contacts.each do |contact| %>
        <tbody>
          <tr>
            <td><%= contact.id %></td>
            <td>
              <%= link_to "#{contact.organization_name}", contact_path(contact.id) %>
            </td>
            <td><%= contact.contact_number %></td>

            <td class="col-sm-9 text-<%= contact.status == "already_exist" ? "success" : "secondary" %> font-weight-bold">
              <%= contact.status_i18n %>
            </td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
</div>
