<div class="container pb-5"></br>
   <div class="col-12 mx-auto">
     <h3>連絡先詳細</h3>
   </div>

   </br>
   </br>

    <div class="row">
        <label class="col-sm-3">団体名</label>
          <div class="col-sm-9">
           <%= @contact.organization_name %>
          </div>
      </div>
    
    </br>
    
      <div class="row">
        <label class="col-sm-3">電話番号(ハイフンなし) </label>
          <div class="col-sm-9">
            <%= @contact.contact_number %>
          </div>
      </div>
      
    </br>
    
      <div class="row">
        <label class="col-sm-3">郵便番号</label>
          <div class="col-sm-9">
            <%= @contact.contact_postcode %>
          </div>
      </div>
      
    </br>
    
      <div class="row">
        <label class="col-sm-3">住所</label>
          <div class="col-5">
            <%= @contact.contact_address %>
          </div>
      </div>
      
    </br>
    
      <div class="row">
        <label class="col-sm-3">担当者役職</label></label>
          <div class="col-sm-9">
            <%= @contact.counterparty_post %>
          </div>
      </div>
      
    </br>
    
      <div class="row">
        <label class="col-sm-3">担当者名</label></label>
          <div class="col-sm-9">
            <%= @contact.counterparty_name %>
          </div>
      </div>
      
    </br>
    
      <div class="row">
        <label class="col-sm-3">従業員数</label></label>
          <div class="col-sm-9">
            <%= @contact.employees %>
          </div>
      </div>
      
    </br>
    
      <div class="row">
        <label class="col-sm-3">WebsiteのURL</label></label>
          <div class="col-sm-9">
            <%= @contact.website %>
          </div>
      </div>
      
    </br>
    
      <div class="row my-5">
        <label class="col-sm-3">備考</label>
          <div class="col-sm-9">
            <%= @contact.remarks %>
          </div>
      </div>
      
      <div class="row my-5">
        <label class="col-sm-3">ステータス</label>
         <div class="col-sm-9 text-<%= @contact.status == "already_exist" ? "success" : "secondary" %> font-weight-bold">
           <%= @contact.status_i18n %>
         </div>
      </div>
          
      <div class="row">
       <div class="col-6 text-left">
        <%= link_to '連絡先の編集', edit_contact_path, class:"btn btn-sm btn-outline-danger" %>
       </div>
      
       <div class="col-6 text-right mb-5">
        <%= link_to 'コールをかける', new_contact_call_history_path(@contact.id), class:"btn btn-sm btn-outline-danger" %>
       </div>
    
</div>

