<!DOCTYPE html>
<html>
  <head>
    <title>CallTable</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex-column vh-100 pb-5">
    <!--ヘッダーの部分テンプレート-->
    <%= render 'layouts/header' %>
    <!--フラッシュメッセージの表示-->
    <p class="notice text-center mt-3"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <!--コンテンツ-->
    <%= yield %>

    <!--フッターの部分テンプレート-->
    <%= render 'layouts/footer' %>
  </body>
</html>
